# Exclude compiled file-types
*.a
*.o
*.so
*.bin
*.dll
*.exe
*.lib
*.obj
*.out
*.zip

# Exclude directories
.vs
bin
out
venv
build

# Exclude bash
.profile
.bash_history
.viminfo

# Exclude Image Files
*.psd

# Exclude Compiled executables
shellshock
